.dropdown:hover .dropdown-menu {
    display: block;
}

.search-container {
    max-width: 600px; /* Limitar el ancho máximo para pantallas grandes */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);/* Ancho ajustado al contenido */
    overflow: hidden;
    
}

.search-input {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    flex-grow: 1; /* Hace que la barra de búsqueda ocupe el espacio disponible */
}

.search-button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.search-button:hover {
    background-color: #e44848;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Espacio entre los botones */
    padding: 2rem;
}

.product-card {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
}

.no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px; /* Altura fija para el texto */
    background-color: #f0f0f0; /* Color de fondo para la alternativa */
    font-size: 20px;
    color: #888;
    text-align: center;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.product-price {
    font-size: 16px;
    color: #888;
}

/* Estilo inicial del logo */
.logo {
    width: 500px;
    height: auto;
    transition: width 0.3s ease;  /* Transición suave al cambiar el tamaño */
}

.navbar .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1050; /* Asegúrate que el dropdown esté por encima de otros elementos */
    left: 0;
    right: 0;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}
@media (max-width: 576px) {
    .search-container {
        flex-direction: rown; /* Coloca el campo de búsqueda y el botón uno debajo del otro */
        align-items: stretch;  /* Asegura que el input y el botón ocupen todo el ancho */
    }
    .search-button {
        width: 15%; /* Hace que el botón ocupe todo el ancho disponible en pantallas pequeñas */
    }
    .search-input {
        width: 70%; /* Hace que el input ocupe todo el ancho disponible en pantallas pequeñas */
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);  /* Mostrar 2 productos por fila */
        padding: 1rem;  /* Reducir el padding */
    }

    .product-card {
        margin: 0;  /* Eliminar márgenes */
    }

    .product-title {
        font-size: 16px;  /* Reducir tamaño de fuente en títulos */
    }

    .product-price {
        font-size: 14px;  /* Reducir tamaño de fuente en precios */
    }

    .no-image {
        height: 120px;  /* Reducir altura de la imagen de reemplazo */
    }
    .logo {
        width: 120px;
    }
}

/* Media Query para dispositivos medianos (tabletas) */
@media (min-width: 577px) and (max-width: 768px) {
    .search-container {
        width: 80%;  /* La barra de búsqueda ocupa el 80% del ancho */
    }

    .product-grid {
        grid-template-columns: repeat(3, 1fr);  /* Mostrar 3 productos por fila */
    }

    .product-title {
        font-size: 17px;  /* Reducir tamaño de fuente en títulos */
    }

    .product-price {
        font-size: 15px;  /* Reducir tamaño de fuente en precios */
    }
    .logo {
        width: 160px;
    }
}

/* Media Query para dispositivos grandes (pantallas de escritorio) */
@media (min-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(5, 1fr);  /* Mostrar 5 productos por fila */
    }
    .logo {
        width: 250px;
    }
}